.rating {


   .params {
      display: flex;
      gap: 24px;
      justify-content: center;
   }


   .text-field {
      background-color: var(--dark-field);
      border-radius: 4px;
      padding: 8px 16px;

      outline: 1px solid var(--gray-border);
      &:focus {
         outline: 2px solid var(--gray-border-focus);
      }
   }

   .select-container {
      display: flex;
      gap: 24px;
      p {
         font-size: 1.2rem;
      }

      select {
         background-color: var(--dark-field);
         border-radius: 4px;
         padding: 8px 16px;

         outline: 1px solid var(--gray-border);
      }
   }
}