.cabin {
   .choice-info {
      margin-top: 24px;
      height: 400px;
      background-color: var(--utility-gray);
      border-radius: 12px;
      padding: 8px 24px;
      border: 1px solid var(--gray-border);
      display: flex;
      flex-direction: column;
      gap: 8px;

      .mark{
         font-size: 4rem;
         text-align: center;
      }
   }

   .cabinData {
      .photo-container{
         width: 200px;
      }
   }

   .user-data-wrapper {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 3fr 7fr;

      & > * {
         // border: 1px solid #fff;
      }

      .choice-bar {
         ul {
            display: flex;
            gap: 40px;
            justify-content: center;

            button {
               display: block;
               border-radius: 8px;
               padding: 8px 32px;
               // width: 50%;
               text-align: center;
               background-color: var(--pink);
               color: var(--white);

               &.active {
                  outline: 2px solid var(--light-white);
                  background-color: var(--pink-hover);
                  color: var(--light-white);
               }

               &:hover {
                  background-color: var(--pink-hover);
                  color: var(--light-white);
               }
            }
         }
      }
   }

   .clear{
      margin-top: 56px;
      display: flex;
      justify-content: end;
      button {
         border-radius: 8px;
         padding: 8px 16px;
         background-color: var(--pink);
         color: var(--white);
         // width: 50%;

         &.active {
            outline: 2px solid var(--light-white);
            background-color: var(--pink-hover);
            color: var(--light-white);
         }

         &:hover {
            background-color: var(--pink-hover);
            color: var(--light-white);
         }
      }
   }
}
