.olerlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100svh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.15);
   z-index: 3;
}

form.reg {
   z-index: 4;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--dark);
   border: var(--gray-border) solid 1px;
   border-radius: 12px;
   padding: 15px 30px;

   display: flex;
   flex-direction: column;
   gap: 15px;

   .back {
      position: absolute;
      top: 15px;
      right: 15px;
   }

   h2 {
      text-align: center;
   }

   .role-select {
      display: flex;
      gap: 15px;
      justify-content: center;

      button {
         border-radius: 8px;
         padding: 8px 16px;
         background-color: var(--pink);
         color: var(--white);

         &.active {
            outline: 2px solid var(--light-white);
            background-color: var(--pink-hover);
            color: var(--light-white);
         }

         &:hover {
            background-color: var(--pink-hover);
            color: var(--light-white);
         }
      }
   }

   .photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      border: 1px dashed var(--white);
      padding: 8px;
      border-radius: 8px;
   }

   .text-field {
      width: 350px;
      background-color: var(--dark-field);
      border-radius: 4px;
      padding: 8px 16px;

      outline: 1px solid var(--gray-border);
      &:focus {
         outline: 2px solid var(--gray-border-focus);
      }
   }

   .select-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      p {
         font-size: 1.2rem;
      }

      select {
         background-color: var(--dark-field);
         border-radius: 4px;
         padding: 8px 16px;

         outline: 1px solid var(--gray-border);
      }
   }

   .submit {
      align-self: center;
      border-radius: 8px;
      padding: 8px 32px;
      width: 50%;
      text-align: center;
      // background-color: var(--pink);
      color: var(--white);

      &:hover {
         background-color: var(--gray-focus);
         color: var(--light-white);
      }
   }
}
